<div class="details-container">
  <h2>Details</h2>
  <img src="{{animal?.image}}" [style.maxWidth.px]="480"/>
  <h3>Type: {{animal?.type}}</h3>
  <h4>Name: {{animal?.name}}</h4>
  <p>Age: {{animal?.age}}</p>
  <p>Breed: {{animal?.breed}}</p>
  <p>Color: {{animal?.color}}</p>
  <p>Price: {{animal?.price}}</p>
  <div>
    <form #reactionForm="ngForm" (ngSubmit)="onReactionSubmit()">
      <label for="reaction"></label>
      <input type="text" id="reaction" name="reaction" [(ngModel)]="reaction.type" />
      <input type="submit" value="Add reaction"/>
    </form>
  </div>

  <div>
    <p>All reactions for this animal:</p>
    <div>Like: {{animal?.reactions?.like}} -
      Love: {{animal?.reactions?.love}} -
      Haha: {{animal?.reactions?.haha}} -
      Wow: {{animal?.reactions?.wow}} -
      Sad: {{animal?.reactions?.sad}} -
      Angry: {{animal?.reactions?.angry}}</div>
  </div>

  <button><a routerLink="{{'/comments/create/' + animal?.id}}">Add comment</a></button>
  <app-comments-list></app-comments-list>
</div>

